<div class="dashboard-container">
    <!-- Video de fondo -->
    <video autoplay muted loop id="bgVideo">
        <source src="assets/videos/dashboard.mp4" type="video/mp4">
        Tu navegador no soporta videos HTML5.
    </video>

    <!-- Header -->
    <header class="dashboard-header">
        <h1>Smart Mobility Backoffice</h1>
        <button class="logout-button" (click)="goToLogin()">
            <fa-icon [icon]="iconLogout"></fa-icon> <!-- Ícono de puerta abierta -->
        </button>
    </header>

    <!-- Contenido principal -->
    <main class="dashboard-main">
        <section class="dashboard-section">
            <ul class="dashboard-list">
                <li (click)="goToVideoView()"><fa-icon [icon]="iconVideo"></fa-icon> Video</li>
                <li (click)="goToloadingDownload()"><fa-icon [icon]="iconUpload"></fa-icon> Carga/Descarga</li>
                <li (click)="goToEvidence()"><fa-icon [icon]="iconCamera"></fa-icon> Evidencias</li>
            </ul>
        </section>

    </main>

    <!-- Footer -->
    <footer class="dashboard-footer">
        <p>Copyright © 2025. Todos los derechos reservados.</p>
    </footer>
</div>