<div class="dashboard-container"  [@fadeAnimation]>

    <!-- Contenedor del fondo con degradado -->
    <div class="bg-gradient"></div>

    <!-- Marca de agua -->
    <div class="watermark">
        <span class="watermark-smart">SMART</span>
        <span class="watermark-mobility">MOBILITY BACKOFFICE</span>
    </div>

    <!-- Header -->
    <header class="dashboard-header">
        <h1>Sistema Inteligente de Captura de Placas</h1>
        <button class="logout-button" (click)="goToLogin()">
            <fa-icon [icon]="iconLogout"></fa-icon> <!-- Ícono de puerta abierta -->
        </button>
    </header>

    <!-- Contenido principal -->
    <main class="dashboard-main">
        <section class="dashboard-section">
            <ul class="dashboard-list">
                <li (click)="goToVideoView()"><fa-icon [icon]="iconVideo"></fa-icon> Captura placa</li>
                <li (click)="goToloadingDownload()"><fa-icon [icon]="iconUpload"></fa-icon> Consulta Propietario</li>
                <li (click)="goToEvidence()"><fa-icon [icon]="iconCamera"></fa-icon> Generación de evidencias</li>
            </ul>
        </section>

    </main>

    <!-- Footer -->
    <footer class="dashboard-footer">
        <p>Copyright © 2025. Todos los derechos reservados.</p>
    </footer>
</div>